.StepList {
  background-color: white;
  padding-top: 30px;
  padding-right: 30px;
  color: #CAB8DA;
}

.StepList .bubble {
  width: 8px;
  height: 8px;
  background-color: white;
  border: 1px solid #501286;
  border-radius: 50%;
  margin-right: 10px;
  display: inline-block;
}

.StepList h3 {
  display: inline-block;
  margin-top: 30px;
  padding-bottom: 4px;
  font-size: 1rem;
  color: #CAB8DA;
  border-bottom: 2px solid #CAB8DA;
}

.StepList a {
  color: #CAB8DA;
  text-decoration: none;
}

.StepList .bubble.past {
  background-color: #501286;
}

.StepList .bubble.active {
  background-color: #501286;
}

.StepList .finish {
  display: inline-block;
}
