.StepList {
  width: 100%;
  background-color: #ccc;
  height: 100%;
  padding: 40px;
}

.StepList .bubble {
  width: 25px;
  height: 25px;
  background-color: white;
  border-radius: 50%;
  margin-right: 10px;
  display: inline-block;
}

.StepList a {
  color: black;
  text-decoration: none;
}

.StepList .bubble.past {
  background-color: #aaa;
}

.StepList .bubble.active {
  background-color: black;
}
