.Library {
}
@media (min-width: 1800px) {
  .Library {
    margin-top: 85px;
  }
}
.Library .container {
  padding-top: 100px;
  padding-bottom: 100px;
}

.Library h1 {
  display: inline-block;
  font-weight: 400;
  margin-bottom: 40px;
  font-size: 28px;
  color: black;
}

.Library h2 {
  display: inline-block;
  font-weight: 400;
  margin-bottom: 40px;
  font-size: 22px;
  color: black;
}

.Library .actions {
}

.Library .actions .action {
  cursor: pointer;
  color: #b8b5c0;
  margin-bottom: 15px;
  transition: color 0.3s ease;
  font-size: 22px;
}

.Library .actions .action:hover {
  color: #5320ee;
}

.Library .projects {
  margin-top: 100px;
}

.Library .project {
  display: inline-block;
  margin-bottom: 20px;
}

.Library .project .preview {
  text-align: center;
  padding: 20px 10px;
  font-size: 35px;
  color: #b8b5c0;
}

.Library .project .need {
  font-size: 14px;
  padding: 15px 30px;
  color: white;
  background-color: #5320ee;
  
}

.Library .project .fontName {
  font-size: 14px;
  padding: 15px 30px;
  color: white;
  background-color: black;
}

.Library .project .actions {
  margin-top: 10px;
}

.Library .project .actions::after {
  display: block;
  clear: both;
  content: "";
}

.Library .project .actions .action-open {
  display: inline-block;
  float: right;
}
.Library .project .actions .action-delete{
  display: inline-block;
  border-bottom: none;
  float: left;
}


