.DefineNeed {
  padding-top: 120px;
}

.DefineNeed .needs {
}

.DefineNeed h1, .DefineNeed h2 {
  display: inline-block;
  margin-bottom: 60px;
  padding-bottom: 4px;
  font-size: 1rem;
  color: #CAB8DA;
  border-bottom: 2px solid #CAB8DA;
}

.DefineNeed h2 {
  text-align: center;
  margin-top: 60px;
  border-bottom: none;
}


.DefineNeed .needs .card {
  margin-bottom: 15px;
}

.DefineNeed .needs .card .image {
  height: 200px;
  background-color: #c7b5d8;
}

.DefineNeed .needs .card .title {
  background-color: #000;
  color: white;
  border-bottom-left-radius: 8px;
  border-bottom-right-radius: 8px;
  padding: 20px 40px;
  font-size: 18px;
  font-weight: 700;
}


.DefineNeed form {}

.DefineNeed form input {
  margin-top: 5px;
  height: 70px;
  width: 75%;
  font-size: 18px;
  background-color: rgba(80,18,134,0.08);
  border: none;
  border-top-left-radius: 8px;
  border-bottom-left-radius: 8px;
  padding-left: 30px;
  user-select: none;
  margin-bottom: 15px;
}

.DefineNeed form button {
  margin-top: 5px;
  width: 25%;
  height: 70px;
  font-size: 18px;
  background-color: #000;
  color: #fff;
  border: none;
  border-top-right-radius: 8px;
  border-bottom-right-radius: 8px;
  padding-left: 30px;
  padding-right: 30px;
  font-weight: 700;
  cursor: pointer;
}

.DefineNeed form input:focus {
  outline: none;
}

@keyframes translateTop {
  from {transform: translateY(-120%)}
  to {transform: translateY(0%)}
}