.DefineNeed {
  padding-top: 120px;
  position: relative;
}

.DefineNeed .needs {
  font-size: 2rem;
}

.DefineNeed .needs div {
  cursor: pointer;
  color: #C7C3D1;
  margin-bottom: 3px;
  transition: color .3s ease;
}

.DefineNeed .needs .selected {
  color: #7D45FF;
}

.DefineNeed .icon-next {
  width: 40px;
  height: auto;
  cursor: pointer;
  position: absolute;
  bottom: 0;
  right: 0;
  background: transparent;
  transition: all .3s ease;  
  border: 2px solid #7D45FF;
  padding: 0px;
  z-index: 3;
}
.DefineNeed .icon-next path {
  fill: #7D45FF;
}
.DefineNeed .icon-next.disabled {
  border-color: #C7C3D1;
}

.DefineNeed .icon-next.disabled path {
  fill: #C7C3D1;
}

.DefineNeed h1, .DefineNeed h2 {
  display: inline-block;
  font-weight: 400;
  margin-bottom: 40px;
  font-size: 2.5rem;
  color: black;
}

.DefineNeed .logoName {
  margin-top: 50px;
}

.DefineNeed .logoName h1{
  margin-bottom: 20px;
}

.DefineNeed .tooltip {
  vertical-align: super;
  font-size:  1rem;
}


.DefineNeed form {}

.DefineNeed form input {
  margin-top: 5px;
  height: 70px;
  width: 75%;
  font-size: 2rem;
  background-color: transparent;
  border: none;
  user-select: none;
}

.DefineNeed form input::placeholder {
  color: #C7C3D1;
}

.DefineNeed form button {
  margin-top: 5px;
  width: 25%;
  height: 70px;
  font-size: 18px;
  background-color: #000;
  color: #fff;
  border: none;
  border-top-right-radius: 8px;
  border-bottom-right-radius: 8px;
  padding-left: 30px;
  padding-right: 30px;
  font-weight: 700;
  cursor: pointer;
}

.DefineNeed form input:focus {
  outline: none;
}

@keyframes translateTop {
  from {transform: translateY(-120%)}
  to {transform: translateY(0%)}
}