.Button {
  font-size: 0.8rem;
  background-color: #000;
  border: 2px solid #000;
  color: #fff;
  padding: 8px 15px;
  cursor: pointer;
  display: inline;
  transition: all .3s ease;
  font-size: 18px;
}

.Button:hover {
  background-color: #fff;
  color: #000;
  border: 2px solid #000;
}

.Button.hollow {
  background-color: #fff;
  color: #5f1ffc;
  border: 2px solid #5f1ffc;
}

.Button.light {
  background-color: transparent;
  color: #b8b5c0;
  text-decoration: underline;
  border: 2px solid transparent;
}


.Button.white {
  background-color: #fff;
  color: #6b00ff;
  border: 2px solid #fff;
}


.Button.hollow:hover {
  background-color: #6b00ff;
  color: #fff;
  border: 2px solid #6b00ff;
}

.Button.full {
  background-color: #5320ee;
  border-color: #5320ee;
  color: white;
}

.Button.text {
  background-color: transparent;
  border-color: transparent;
  color: black;
  text-decoration: underline;
}

.Button.isBack {
  background: none;
  border: none;
}

.Button.social-google {
  background-color: #db4733;
  color: white;
  font-size: 14px;
  border-color: #db4733;
}

.Button.social-facebook {
  background-color: #3b5998;
  font-size: 14px;
  color: white;
  border-color: #3b5998;
}

.Button.social-twitter {
  background-color: #00aced;
  color: white;
  font-size: 14px;
  border-color: #00aced;
}

.Button.isBack img  {
  width: 30px;
  height: auto;
}

.Button:focus {
  outline: none;
  user-select: none;
}