.Button {
  font-size: 0.8rem;
  background-color: #111;
  border: 2px solid green;
  color: #fff;
  padding: 8px 15px;
  cursor: pointer;
  display: inline;
  transition: all .3s ease;
  font-size: 16px;
  position: relative;
}

.Button + .Button {
    margin-left: 1.5em;
}

.Button:hover {
  background-color: #fff;
  color: #111;
  border: 2px solid #111;
}

.Button.hollow {
  background-color: #fff;
  color: #5f1ffc;
  border: 2px solid transparent;
}

.Button.light {
  background-color: transparent;
  color: #b8b5c0;
  text-decoration: none;
  border: 1px solid transparent;
  border-bottom-color: #b8b5c0;
  padding: 0;
  margin: 8px 15px;
}


.Button.white {
  background-color: #fff;
  color: #5320ee;
  border: 2px solid #fff;
}


.Button.hollow:hover {
  background-color: #5320ee;
  color: #fff;
  border: 2px solid #5320ee;
}

.Button.full {
  background-image: linear-gradient(259deg, #5320ee, #5d28e2 68%, #622bdd);
  border-color: transparent;
  color: white;
}

.Button.text {
  background-color: transparent;
  border-color: transparent;
  color: black;
  text-decoration: none;
  border-bottom: 1px solid black;
  padding-bottom: 5px;
}

.Button.text.isConfigure {
  padding-left: 0;
}

.Button.isBack {
  background: none;
  border: none;
}

.Button.social-google {
  background-color: #db4733;
  color: white;
  font-size: 14px;
  border-color: #db4733;
  min-width: 105px;
  text-align: center;
  margin: 0;
}

.Button.social-facebook {
  background-color: #3b5998;
  font-size: 14px;
  color: white;
  border-color: #3b5998;
  min-width: 105px;
  text-align: center;
  margin: 0;
}

.Button.social-twitter {
  background-color: #00aced;
  color: white;
  font-size: 14px;
  border-color: #00aced;
  min-width: 105px;
  text-align: center;
  margin: 0;
}

.Button.isBack img  {
  width: 30px;
  height: auto;
}

.Button:focus {
  outline: none;
  user-select: none;
}

.Button svg {
  height: 30px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
