.Button {
  font-size: 0.8rem;
  background-color: #501286;
  border: 2px solid #501286;
  color: #fff;
  border-radius: 5px;
  padding: 5px 20px;
  cursor: pointer;
  display: inline;
  transition: all .3s ease;
}

.Button:hover {
  background-color: #fff;
  color: #501286;
  border: 2px solid #501286;
}

.Button.hollow {
  background-color: #fff;
  color: #501286;
  border: 2px solid #501286;
}

.Button.hollow:hover {
  background-color: #501286;
  color: #fff;
  border: 2px solid #501286;
}

.Button.isBack {
  background: none;
  border: none;
}

.Button.isBack img  {
  width: 30px;
  height: auto;
}

.Button.isConfigure img  {
  width: 10px;
  height: auto;
  margin-right: 5px;
  display: inline-block;
}



.Button:focus {
  outline: none;
  user-select: none;
}