.StepView {
  margin-top: 0;
  margin-bottom: 0;
  min-height: 100vh;
  background: white;
  transition: background .3s ease;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.StepView.whiteOnBlack {
  background: black;
}

.StepView .container {
  position: relative;
  max-width: 850px;
}

.StepView h3:not(.currentState) {
  margin-bottom: 60px;
}

.StepView .actions {
  margin-top: 50px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.StepView .icon-glyph, .StepView .icon-background {
  width: 25px;
  padding: 5px;
  height: auto;
  cursor: pointer;
  transition: fill .3s ease;
}

.StepView.whiteOnBlack .icon-glyph {
  fill: white;
}

.StepView.whiteOnBlack .icon-background {
  fill: white;
}

.StepView.whiteOnBlack .Button.isConfigure {
  color: white;
  border-bottom-color: white;
}

.StepView .icon-back, .StepView .icon-next, .StepView .icon-finish {
  width: 40px;
  height: auto;
  cursor: pointer;
  position: absolute;
  top: 50%;
  transform: translateY(-50%) translateZ(0px);
  transition: transform .3s ease, background .3s ease, border-color .3s ease;  
  border: 2px solid #7D45FF;
  padding: 0px;
}

.StepView .icon-back path, .StepView .icon-next path, .StepView .icon-finish path {
  fill: #7D45FF;
}

.StepView .icon-back {
  background: transparent;
  left: -75px;
}

.StepView .icon-next.disabled {
  border-color: #C7C3D1;
}

.StepView .icon-next.disabled path {
  fill: #C7C3D1;
}

.StepView .icon-finish.disabled {
  display: none;
}

.StepView .icon-finish {
  right: -135px;
  background: transparent;
}

.StepView .icon-next {
  right: -75px;
  background: transparent;
}

.StepView.whiteOnBlack .icon-back, .StepView.whiteOnBlack .icon-next, .StepView.whiteOnBlack .icon-finish {
  background: transparent;
}

.StepView .icon-next:not(.disabled):hover, .StepView .icon-finish:not(.disabled):hover, .StepView .icon-back:hover {
  transform: scale(1.1) translateY(-50%) translateZ(0px);
}

.StepView.whiteOnBlack .icon-next:not(.disabled) path, .StepView.whiteOnBlack .icon-back path {
  fill: #7D45FF;
  transition: fill .3s ease;  
}



.StepView .choiceMore {
  position: relative;
  display: none;
  background: transparent;
}

.StepView.whiteOnBlack .choiceMore {
  color: white;
}

.StepView .choiceMore:focus {
  outline: none;
}

.StepView .choiceMore.selected {
  font-family: 'sliderFont';
  display: block;
  margin-bottom: 30px;
}
