.StepView {
  margin-top: 0;
  margin-bottom: 80px;
  background: white;
  transition: background 0.3s ease;
  display: flex;
  flex-direction: column;
  justify-content: center;
  min-height: calc(100vh - 80px);
}

.StepView.whiteOnBlack {
  background: black;
}

.StepView .container {
  position: relative;
}

.StepView h3:not(.currentState) {
  margin-bottom: 60px;
}

.StepView.whiteOnBlack .Button.isConfigure {
  color: white;
}

.StepView .icon-back-wrapper {
  position: absolute;
  top: 50%;
  left: -70px;
  transform: translateY(-50%) translateZ(0px);
}

.StepView .icon-next-wrapper {
  position: absolute;
  top: 50%;
  right: -70px;
  transform: translateY(-50%) translateZ(0px);
}

.StepView .icon-back,
.StepView .icon-next,
.StepView .icon-finish {
  width: 35px;
  height: auto;
  cursor: pointer;
  transition: transform 0.3s ease, background 0.3s ease, border-color 0.3s ease;
  border: 2px solid #5320ee;
  border-radius: 50%;
  padding: 0px;
  z-index: 10;
}

.StepView .icon-back path,
.StepView .icon-next path,
.StepView .icon-finish path {
  fill: #5320ee;
}

.StepView .icon-back {
  background: transparent;
  left: -75px;
}

.StepView .icon-next.disabled {
  border-color: #b8b5c0;
}

.StepView .icon-next.disabled path {
  fill: #b8b5c0;
}

.StepView .icon-finish.disabled {
  display: none;
}

.StepView .icon-finish {
  position: absolute;
  right: -75px;
  top: calc(50% + 40px);
  transform: translateY(-50%) translateZ(0px);
  background: transparent;
}
.StepView .icon-next {
  right: -75px;
  background: transparent;
}

.StepView.whiteOnBlack .icon-back,
.StepView.whiteOnBlack .icon-next,
.StepView.whiteOnBlack .icon-finish {
  background: transparent;
}

.StepView.whiteOnBlack .icon-next:not(.disabled) path,
.StepView.whiteOnBlack .icon-back path {
  fill: #5320ee;
  transition: fill 0.3s ease;
}

.StepView .choiceMore {
  position: relative;
  display: none;
  background: transparent;
}

.StepView.whiteOnBlack .choiceMore {
  color: white;
}

.StepView .choiceMore:focus {
  outline: none;
}

.StepView .choiceMore.selected {
  font-family: "sliderFont";
  display: block;
  margin-bottom: 30px;
}

@media (max-width: 768px) {
  .StepView .icon-next-wrapper {
    right: -20px;
    z-index: 10;
  }
  .StepView .icon-back-wrapper {
    left: inherit;
    right: -20px;
    top: 40%;
    transform: translateY(-55%) translateZ(0px);
    z-index: 10;
  }

  .StepView .choices {
    margin-left: 5px;
    margin-right: 5px;
  }
}
