.StepView {}

.StepView .choices {
  display: flex;
  flex-direction: column;
  align-items: center;
}


.StepView .description {
  margin-left: 100px;
}

.StepView .actions {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.StepView .back {
  cursor: pointer;
  display: inline-block;
  padding: 10px 20px;
  border: 1px solid black;
}

.StepView .nextStep {
  margin: 20px auto;
  cursor: pointer;
  display: inline-block;
  padding: 10px 20px;
  border: 1px solid black;
}

