.WordView {
  padding-top: 5%;
  padding-bottom: 5%;
  height: 20vh;
  min-height: 20vh;
  max-height: 20vh;
}

.WordView .text {
    margin: 0;
    font-size: 10vh;
    text-align: center;
    font-family: 'peasy';
    font-weight: normal;
}