.ParamChoice {
  position: relative;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  flex-wrap: nowrap;
  align-content: stretch;
}

.ParamChoice .left {
  max-width: 75%;
  width: 75%;
}
.ParamChoice .right {
  max-width: 25%;
  width: 25%;
}