.TemplateChoice {
  position: relative;
  min-height: calc(100vh - 270px);
  padding-top: 0;
  margin-bottom: 100px;
}

@media (min-width: 768px) {
  .TemplateChoice {
    padding-top: x00px;
  }
}

@media (min-width: 1800px) {
  .TemplateChoice {
    margin-top: 85px;
  }
}

.TemplateChoice h1, .TemplateChoice h2 {
  display: inline-block;
  font-weight: 400;
  font-size: 1.2rem;
  margin-bottom: 10px;
  color: black;
  margin-left: 20px;
}

@media (min-width: 768px) {
  .TemplateChoice h1, .TemplateChoice h2 {
    font-size: 28px;
    margin-bottom: 40px;
  }
}

.TemplateChoice .back {
  position: absolute;
  top: 55px;
  left: 45px;
}

.TemplateChoice .container {
  position: relative;
}

.TemplateChoice .icon-back, .TemplateChoice .icon-next {
  width: 40px;
  height: auto;
  cursor: pointer;
  position: fixed;
  top: calc(50% + 25px);
  transform: translateY(-50%);
  border-radius: 50%;
  transition: transform .3s ease, background .3s ease, border-color .3s ease;
  background: transparent;
  padding: 0px;
  z-index: 10;
}

.TemplateChoice .icon-back {
  top: calc(50% - 25px);
  right: 150px;
}

.TemplateChoice .icon-next {
  right: 150px;
}

.TemplateChoice .icon-next.disabled g {
  stroke: #b8b5c0;
}

.TemplateChoice .icon-next:not(.disabled):hover, .TemplateChoice .icon-back:hover {
  background: #5320ee;
}

.TemplateChoice .icon-next:not(.disabled):hover g path, .TemplateChoice .icon-back:hover g path{
  stroke: white;
}

.TemplateChoice .Button {
  margin-left: 0px;
}

.TemplateChoice .template-wrapper {}

@media (max-width: 575px) {
  .TemplateChoice .icon-next {
    position: relative;
    right: 0;
    top: 0;
    margin-left:20px;
    margin-top:20px;
  }
  .TemplateChoice .icon-back {
    position:relative;
    left: 0;
    top: 0;
    margin-left: 20px;
    margin-top:20px;
  }
}
