.TemplateChoice {
  position: relative;
  min-height: calc(100vh - 270px);
  padding-top: 100px;
  margin-bottom: 100px;
}

.TemplateChoice h1, .TemplateChoice h2 {
  display: inline-block;
  font-weight: 400;
  margin-bottom: 40px;
  font-size: 2.5rem;
  color: black;
}

.TemplateChoice .back {
  position: absolute;
  top: 55px;
  left: 45px;
}

.TemplateChoice .container {
  position: relative;
}

.TemplateChoice h1, .TemplateChoice h2 {
  display: inline-block;
  font-weight: 400;
  margin-bottom: 40px;
  font-size: 28px;
  color: black;
}

.TemplateChoice .icon-back, .TemplateChoice .icon-next {
  width: 35px;
  height: auto;
  cursor: pointer;
  position: fixed;  
  transition: transform .3s ease, background .3s ease, border-color .3s ease;  
  border: 2px solid #5320ee;
  background: transparent;
  padding: 0px;
  z-index: 10;
  border-radius: 50%;
}

.TemplateChoice .icon-back path, .TemplateChoice .icon-next path {
  fill: #5320ee;
}

.TemplateChoice .icon-back {  
  top: calc(50%);
  right: 150px;
  transform: translateX(20px) translateY(calc(50%)) translateZ(0px);
}

.TemplateChoice .icon-next {  
  top: calc(50% + 100px);
  right: 150px;
  transform: translateX(20px) translateY(calc(-50% - 110px)) translateZ(0px);
}

.TemplateChoice .icon-next.disabled {
  border-color: #b8b5c0;
}

.TemplateChoice .icon-next.disabled path {
  fill: #b8b5c0;
}
.TemplateChoice .Button {
  margin-left: 0px;
}

.TemplateChoice .template-wrapper {}

@media (max-width: 768px) {
  .TemplateChoice .icon-next {
    right: 15px;
    z-index: 10;
  }
  .TemplateChoice .icon-back {
    left: inherit;
    right: 15px;
    top: 40%;
    transform: translateY(-55%) translateZ(0px);
    z-index: 10;
  }
}