.TemplateChoice {
  position: relative;
  display: block;
  width: 100%;
  height: 100%;
}

.TemplateChoice h1 {
  display: inline-block;
  margin: 80px;
  margin-left: 120px;
  margin-bottom: 0;
  padding-bottom: 4px;
  font-size: 1rem;
  color: #CAB8DA;
  border-bottom: 2px solid #CAB8DA;
}

.TemplateChoice h2 {
  display: block;
  margin: 80px;
  margin-left: 120px;
  margin-bottom: 0;
  margin-top: 0;
  padding-bottom: 4px;
  font-size: 1rem;
  color: #CAB8DA;
  text-align: center;
}

.TemplateChoice .Button {
  margin-left: 80px;
}

.TemplateChoice .template-wrapper {
  max-width: 100vw;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  align-content: space-around;
  flex-wrap: wrap; 
  margin-top: 30px;
}