.Step {
  display: block;
  cursor: pointer;
  padding: 13px 40px;
  background: black;
  transition: color .3s ease, background .3s ease;
  text-transform: uppercase;
  font-size: 14px;
}

.Step.disabled {
  color: #b8b5c0;
  cursor: default;
}

.Step:focus {outline:0;}

.Step.current {
  color: white;
  background: #5320ee;
}