.Step {
  display: block;
  cursor: pointer;
  padding: 20px 40px;
  background: black;
  transition: color .3s ease, background .3s ease;
}

.Step:focus {outline:0;}

.Step.current {
  color: white;
  background: #FF6359;
}