.masonry{
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-content: stretch;
	width: 100%;
	margin: auto;
}

.masonry .column {
	display: flex;
	flex-direction: column;
	justify-content: flex-start;
	align-content: stretch;
	flex-grow: 1;
	margin: 5px;
    width: 50%;
}

.masonry .column .wrapper {
    margin: 0px 20px 20px 0px;
}


@media (max-width: 891px) {
	.masonry {
		flex-direction: column;
	}
	.masonry .column {
		width: 100%;
		margin-left: 20px;
		margin-right: 20px;
	}

	.masonry .column .wrapper {
		margin-right: 0px;
	}
  }