.Authenticate {
  background: black;
  width: 100vw;
  height: 100vh;  
  display: flex;
  align-items: center;
}

@media (max-width: 1800px) {
  .Authenticate {
    margin-top: -85px;
  }
}

.Authenticate .container {
  background: white;
  position: relative;
  margin-top: auto;
  margin-bottom: auto;
  height: auto;
}

.Authenticate .col-lg-12 {
  position: relative;
}

.Authenticate .row {
  height: auto
}

.Authenticate .closeIcon {
    display: block;
    position: absolute;
    right: 20px;
    top: 20px;
    cursor: pointer;
    width: 20px;
    height: auto;
    z-index: 10;
  }

.Authenticate .left {
  position: relative;
  background-image: linear-gradient(265deg, #5320ee, #5d28e2 21%, #622bdd);
  height: auto;
}

.Authenticate .left svg {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 250px;
}

.Authenticate .left svg path {
  fill: white;
}

.Authenticate .left svg .letter {
  display: none;
}

.Authenticate .left svg .letter.letter-1 {
  display: inherit;
}

.Authenticate .right {
  height: auto;
  padding-top: 50px;
  padding-bottom: 50px;
  padding-left: 50px;
  padding-right: 50px;
}

.Authenticate .eyeIcon {
  cursor: pointer;
  position: absolute;
  right: 25px;
  top: 35px;
}

.Authenticate .header h2 {
  font-size: 26px;
  padding-bottom: 30px;
  color: #5b26e6;
}

.Authenticate .header p {
  font-size: 14px;
  line-height: 1.89;
  color: #b8b5c0;
}

.Authenticate .signup p,
.Authenticate .signin p {
  font-size: 14px;
  margin-bottom: 0;
}

.Authenticate .signup input,
.Authenticate .signin input {
  margin-bottom: 15px;
  padding: 5px 10px;
  border: 2px solid transparent;
  box-shadow: none;
  font-size: 14px;
  background-color: #f7f7f7;
  width: 100%;
  margin-top: 5px;
}

.Authenticate .signup input.isError,
.Authenticate .signin input.isError {
  border-color: red;
  margin-bottom: 3px;
}

.Authenticate input:focus {
  outline: none;
}

.Authenticate p.error {
  color: red;
  margin-top: 0;
  margin-bottom: 5px;
  font-size: 10px;
}

.Authenticate .general-error {
  text-align: center;
  color: red;
  font-size: 12px;
  margin-bottom: 15px;
}

.Authenticate .signup input::placeholder,
.Authenticate .signin input::placeholder {
  color: #b8b5c0;
}

.Authenticate .clearfix:after {
  content: "";
  display: table;
  clear: both;
}

.Authenticate .signup .Button.full,
.Authenticate .signin .Button.full {
  display: inline-block;
  float: right;
}

.Authenticate .auth-alternative {
  font-size: 12px;
  color: #b8b5c0;
  padding-top: 30px;
  padding-bottom: 30px;
  text-align: center;
  text-transform: uppercase;
}

.Authenticate .sso-buttons {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  margin-bottom: 40px;
}

.Authenticate .sso-buttons .Button{
  text-align: center;
  width: 30%;
}

.Authenticate .email-button.loading {
  padding: 20px 40px;
}

.Authenticate .mode-switch {
  font-size: 12px;
  text-align: center;
}

.Authenticate .mode-switch .Button.text {
  font-size: 12px;
  color: #5b26e6;
  text-decoration: none;
  border-bottom: none;
  padding-left: 5px;
}

@keyframes animateLeft {
    from {

    }
    to {
        
    }
}
