.Authenticate {
  background: black;
  width: 100vw;
  height: 100vh;
  padding-top: 150px;
  padding-bottom: 150px;
}

.Authenticate .container {
  background: white;
  position: relative;
  height: auto;
}

.Authenticate .row {
  height: auto
}

.Authenticate .closeIcon {
    display: block;
    position: absolute;
    right: 20px;
    top: 20px;
    cursor: pointer;
    width: 20px;
    height: auto;
    z-index: 10;
  }

.Authenticate .left {
  position: relative;
  background-image: linear-gradient(#5f1ffc, #5f1ffc),
    linear-gradient(218deg, #5320ee, #5d28e2 68%, #622bdd);
  height: auto;
}

.Authenticate .left svg {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 250px;
}

.Authenticate .left svg path {
  fill: white;
}

.Authenticate .left svg .letter {
  display: none;
}

.Authenticate .left svg .letter.letter-1 {
  display: inherit;
}

.Authenticate .right {
  height: auto;
  padding-top: 50px;
  padding-bottom: 50px;
  padding-left: 50px;
  padding-right: 50px;
}

.Authenticate .eyeIcon {
  cursor: pointer;
}

.Authenticate .header h2 {
  font-size: 32px;
  padding-bottom: 30px;
  color: #5b26e6;
}

.Authenticate .header p {
  font-size: 18px;
  line-height: 1.89;
  color: #b8b5c0;
}

.Authenticate .signup p,
.Authenticate .signin p {
  font-size: 18px;
  margin-bottom: 0;
}

.Authenticate .signup input,
.Authenticate .signin input {
  margin-bottom: 15px;
  padding: 5px 10px;
  border: 2px solid transparent;
  box-shadow: none;
}

.Authenticate .signup input::placeholder,
.Authenticate .signin input::placeholder {
  color: #b8b5c0;
}

.Authenticate .clearfix:after {
  content: "";
  display: table;
  clear: both;
}

.Authenticate .signup .Button.full,
.Authenticate .signin .Button.full {
  display: inline-block;
  float: right;
}

.Authenticate .auth-alternative {
  font-size: 14px;
  color: #b8b5c0;
  padding-top: 30px;
  padding-bottom: 30px;
  text-align: center;
  text-transform: uppercase;
}

.Authenticate .social-buttons {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  margin-bottom: 40px;
}

.Authenticate .mode-switch {
  font-size: 14px;
  text-align: center;
}

.Authenticate .mode-switch .Button.text {
  font-size: 14px;
  color: #5b26e6;
  text-decoration: none;
}

@keyframes animateLeft {
    from {

    }
    to {
        
    }
}
