.WelcomeBack .choices {
  }
  
  
  .WelcomeBack h1, .WelcomeBack h2 {
    margin: 80px;
    margin-left: 0;
  }


  .WelcomeBack .card {
    cursor: pointer;
    outline: none;
    margin-bottom: 15px;
  }
  
  .WelcomeBack .card .image {
    height: 200px;
    background-color: #c7b5d8;
  }
  
  .WelcomeBack .card .title {
    background-color: #000;
    color: white;
    border-bottom-left-radius: 8px;
    border-bottom-right-radius: 8px;
    padding: 20px 40px;
    font-size: 18px;
    font-weight: 700;
  }
  