.WelcomeBack {
  padding-top: 120px;
  position: relative;
}

.WelcomeBack h1,
.WelcomeBack h2 {
  display: inline-block;
  font-weight: 400;
  margin-bottom: 40px;
  font-size: 2.5rem;
  color: black;
}

.WelcomeBack .choices {
  font-size: 2rem;
}

.WelcomeBack .choices div {
  cursor: pointer;
  color: #c7c3d1;
  margin-bottom: 3px;
  transition: color 0.3s ease;
}

.WelcomeBack .choices .selected {
  color: #7d45ff;
}

.WelcomeBack .icon-next {
  width: 40px;
  height: auto;
  cursor: pointer;
  position: absolute;
  bottom: 0;
  right: 0;
  background: transparent;
  transition: all 0.3s ease;
  border: 1px solid #7d45ff;
  padding: 0px;
  z-index: 3;
}
.WelcomeBack .icon-next path {
  fill: #7D45FF;
}
.WelcomeBack .icon-next.disabled {
  border-color: #c7c3d1;
  background: #c7c3d1;
}

.WelcomeBack .icon-next.disabled path {
  fill: white;
}
