.ShortcutsHelper {
    display: inline-block;
}

.ShortcutsHelper .tooltip-button {
    position: relative;
    display: inline-block;
    border: 1px solid black;
    cursor: pointer;
    padding: 1px 7px;
    transform: translateY(-2px);
    border-radius: 50%;
    font-size: 12px;
}

.ShortcutsHelper .tooltip-backdrop {
    width: 100vw;
    height: 100vh;
    position: fixed;
    top: 0px;
    left: 0px;
    background: white;
    animation: showBackdrop .3s ease forwards;
    opacity: 0;
}

@keyframes showBackdrop {
	to { 
		opacity: 0.6;
	}
}
