.ShortcutsHelper {
    display: inline-block;
}

.ShortcutsHelper .tooltip-button {
    position: relative;
    display: inline-block;
    border: 2px solid black;
    cursor: pointer;
    padding-left: 1px;
    height: 21px;
    width: 21px;
    transform: translateY(-1px);
    border-radius: 50%;
    font-size: 12px;
    font-weight: bold;
    text-align: center;

    transition: all 200ms ease;
}

.ShortcutsHelper .tooltip-button:hover {
    background-color: #5320ee;
    border-color: #5320ee;
    color: white;
}

.ShortcutsHelper .tooltip-backdrop {
    width: 100vw;
    height: 100vh;
    position: fixed;
    top: 0px;
    left: 0px;
    background: white;
    animation: showBackdrop .3s ease forwards;
    opacity: 0;
}

@keyframes showBackdrop {
	to {
		opacity: 0.6;
	}
}
