.ShortcutsHelper {
    display: inline-block;
}

.ShortcutsHelper .tooltip-button {
    position: relative;
    display: inline-block;
    font-family: unique-icon;
    transition: all 200ms ease;
    font-size: 25px;
    user-select: none;
    cursor: pointer;
}

.ShortcutsHelper .tooltip-button:hover {
    transform: scale3d(1.1,1.1,1);
}

.ShortcutsHelper .tooltip-backdrop {
    width: 100vw;
    height: 100vh;
    position: fixed;
    top: 0px;
    left: 0px;
    background: white;
    animation: showBackdrop .3s ease forwards;
    opacity: 0;
}

@keyframes showBackdrop {
	to {
		opacity: 0.6;
	}
}
