.Sliders {
  margin-bottom: 60px;
}


.Sliders .slider {
    display: block;
    width: 100%;
    margin: 0 auto;
}
.Sliders label {
    display: block;
    font-size: 14px;
    color: #b8b5c0;
    font-family: unique, sans-serif;
    margin-bottom: -10px;
}
.Sliders input[type="range"] {
  -webkit-appearance: none;
  width: 100%;
  height: 3px;
  background: #b8b5c0;
  outline: none;
  padding: 0;
  margin: 0;
}
.Sliders input[type="range"]::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  width: 20px;
  height: 20px;
  border-radius: 50%;
  background: #5320ee;
  cursor: pointer;
  -webkit-transition: background 0.15s ease-in-out;
  transition: background 0.15s ease-in-out;
}
.Sliders input[type="range"]::-webkit-slider-thumb:hover {
  background: rgb(99, 55, 204);
}
.Sliders input[type="range"]:active::-webkit-slider-thumb {
  background: #5320ee;
}
.Sliders input[type="range"]::-moz-range-thumb {
  width: 20px;
  height: 20px;
  border: 0;
  border-radius: 50%;
  background: #5320ee;
  cursor: pointer;
  -webkit-transition: background 0.15s ease-in-out;
  transition: background 0.15s ease-in-out;
}
.Sliders input[type="range"]::-moz-range-thumb:hover {
  background: rgba(255, 100, 89, 0.9);
}
.Sliders input[type="range"]:active::-moz-range-thumb {
  background: #5320ee
}
::-moz-range-track {
  background: #5320ee;
  border: 0;
}
.Sliders input::-moz-focus-inner,
.Sliders input::-moz-focus-outer {
  border: 0;
}
