.FinalView {
  position: relative;
  display: block;
  padding: 50px;
}

.FinalView h1 {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-family: 'peasy';
  font-size: 15rem;
  line-height: 15rem;
  margin: 0;
  font-weight: normal;
}

.FinalView .back {
  padding: 20px;
  border: 1px solid black;
  display: inline-block;
  cursor: pointer;
}

.FinalView .specimen {
  display: flex;
  font-size: 22px;
}

.FinalView .specimen .left {
  width: 50%;
  margin-right: 50px;
}

.FinalView .specimen h2, .FinalView .specimen h3 {
  font-weight: normal;
}