.LanguageSelect {
    display: inline-block;
}
.LanguageSelect  .language-active {
    cursor: pointer;
    color: #b8b5c0;
    text-decoration: none;
    border-bottom: 2px solid #b8b5c0;
    padding: 0;
    padding-bottom: 1px;
    font-size: 16px;
    user-select: none;
    display: inline;
    position: relative;
    float: left;
    transform: translateY(-3px);
  }
  
  .LanguageSelect .language-select {
    float:left;
    position:absolute;
    bottom: 35px;
    left: 0;
    font-size: 16px;
    height: 0;
    overflow: hidden;
    transition: height .3s ease;
  }
  
  
  .LanguageSelect .language-select.opened {
    height: 180px;
  }
  
  .LanguageSelect .language-select p {
    cursor: pointer;  
    background-color: black;
    z-index: 20;
    color: white;
    padding: 6px 10px;
    display: block;
    margin: 0;
  }