.WordView {
}

.WordView .text {
    margin: 0;
    padding-top: 10px;
    padding-bottom: 10px;
    margin-bottom: 40px;
    font-size: 75px;
    text-align: center;
    font-family: 'peasy';
    font-weight: normal;
    border: 1px solid transparent;
}

.WordView .text.selected {
    border-color: #501286;
}

.WordView .text span:focus {
    outline: 0px solid transparent;
}