.Start .choices {
  }
  
  
  .Start h1, .Start h2 {
    margin: 80px;
    margin-left: 0;
  }


  .Start .card {
    cursor: pointer;
    outline: none;
  }
  
  .Start .card .image {
    height: 200px;
    background-color: #c7b5d8;
  }
  
  .Start .card .title {
    background-color: #501286;
    color: white;
    border-bottom-left-radius: 8px;
    border-bottom-right-radius: 8px;
    padding: 20px 40px;
    font-size: 18px;
    font-weight: 700;
  }
  