.App {
  position: relative;
  display: block;
}

.App .App-logo {
  position: absolute;
  top: 30px;
  left: 30px;
  width: 100px;
  height: auto;
  cursor: pointer;
  z-index: 100;
}

.App .loginlogout {
  position: absolute;
  top: 30px;
  right: 30px;
  z-index: 100;
}

.App .loginlogout .goToFonts {
  margin-right: 10px;
  cursor: pointer;
}