.App {
  position: relative;
  display: block;
}

.App {
  min-height: 100vh;
  padding: 0;
}

.App .left {
  padding: 0;
  padding-right: 50px;
}

@media (max-width: 576px) {
  .App .left {
    padding: 0;
  }
}
.App .right {
  padding: 0;
}

.App .right.whiteOnBlack {
  background: black;
}

.App .App-header {
  position: fixed;
  top: 0;
  z-index: 100;
  min-height: 480px;
  width: 100%;
  height: 100%;
  background: #5320ee;
  background-image: linear-gradient(265deg, #5320ee, #5d28e2 21%, #622bdd);
  transition: background-color 1s ease;
}

.App-logo-wrapper,
.App-loader-wrapper {
  position: absolute;
  left: 0;
  width: 100%;
  opacity: 0;
  cursor: default;
}

.App .App-header .loading-message {
  margin: 0 auto;
  min-width: 100px;
  max-width: 680px;
  width: 50%;
  text-align: center;
  color: #fff;
  font-size: 25px;
}

.App .App-header .error-message {
  font-size: 20px;
}

.App-logo-wrapper {
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  transition: all 1s cubic-bezier(0.7, 0, 0.3, 1);
}

.App-logo-wrapper svg {
  display: block;
  margin: 0 auto;
  min-width: 100px;
  max-width: 680px;
  width: 50%;
  overflow: visible;
  transition: all 1s cubic-bezier(0.7, 0, 0.3, 1);
}

.App-logo-wrapper .logo-main {
  fill: white;
}
.App-logo-wrapper .letter {
  opacity: 0;
  fill: white;
  animation-duration: 8s;
  animation-timing-function: ease-in-out;
  animation-fill-mode: forwards;
  animation-iteration-count: infinite;
}

.App-logo-wrapper .letter-1 {
  animation-name: animate-1;
  will-change: "transform, opacity";
}

.App-logo-wrapper .letter-2 {
  animation-name: animate-2;
  will-change: "transform, opacity";
}

.App-logo-wrapper .letter-3 {
  animation-name: animate-3;
  will-change: "transform, opacity";
}

.App-logo-wrapper .letter-4 {
  animation-name: animate-4;
  will-change: "transform, opacity";
}

.App-logo-wrapper .letter-5 {
  animation-name: animate-5;
  will-change: "transform, opacity";
}

.App-logo-wrapper .letter-6 {
  animation-name: animate-6;
  will-change: "transform, opacity";
}

.App-logo-wrapper .letter-7 {
  animation-name: animate-7;
  will-change: "transform, opacity";
}

.App-logo-wrapper .letter-8 {
  animation-name: animate-8;
  will-change: "transform, opacity";
}

.App-logo-wrapper .letter-9 {
  animation-name: animate-9;
  will-change: "transform, opacity";
}

.App-logo-wrapper .letter-10 {
  animation-name: animate-10;
  will-change: "transform, opacity";
}

.App-logo-wrapper .letter-11 {
  animation-name: animate-11;
  will-change: "transform, opacity";
}


.App-loader-wrapper {
  bottom: 20%;
}

.App-loader-wrapper p {
  text-align: center;
}

.App .loginlogout {
  position: absolute;
  right: 30px;
  z-index: 100;
}

.App .loginlogout .goToFonts {
  margin-right: 10px;
  cursor: pointer;
}

.loading .App-logo-wrapper,
.loading .App-loader-wrapper {
  opacity: 1;
}

.loading .App-loader-wrapper {
  animation-delay: 0.2s;
}

.loaded .App-logo-wrapper,
.loaded .App-loader-wrapper {
  opacity: 1;
}

.loaded .App-logo-wrapper {
  top: initial;
  bottom: -100px;
  left: 20px;
  width: auto;
  height: 75px;
  transform: translate(0, 0);
}

.loaded .App-logo-wrapper svg {
  cursor: pointer;
  width: 150px;
  margin: 0;
}

.loaded .App-logo-wrapper svg .letter-1.animate {
  animation: none;
}

.loaded .App-logo-wrapper .logo-main {
  fill: #5320ee;
}
.loaded .App-logo-wrapper .letter-1 {
  opacity: 1;
  animation: none;
  fill: #5320ee;
}

.loaded .App-logo-wrapper .letter-2,
.loaded .App-logo-wrapper .letter-3,
.loaded .App-logo-wrapper .letter-4,
.loaded .App-logo-wrapper .letter-5,
.loaded .App-logo-wrapper .letter-6,
.loaded .App-logo-wrapper .letter-7,
.loaded .App-logo-wrapper .letter-8,
.loaded .App-logo-wrapper .letter-9,
.loaded .App-logo-wrapper .letter-10,
.loaded .App-logo-wrapper .letter-11 {
  opacity: 0;
  animation: none;
}

.loaded .App-loader-wrapper {
  animation: animLoadedLoader 0.5s cubic-bezier(0.7, 0, 0.3, 1) forwards;
}

.loaded .App-header {
  animation: animLoadedHeader 1s cubic-bezier(0.7, 0, 0.3, 1) forwards;
  background-color: #fff;
  position: absolute;
  height: auto;
}

.loaded .App-content.whiteOnBlack {
  background-color: black;
}
@keyframes animLoadedLoader {
  to {
    opacity: 0;
    transform: translate3d(0, -100%, 0) scale3d(0.3, 0.3, 1);
  }
}

@keyframes animLoadedHeader {
  to {
    transform: translate3d(0, -100%, 0);
  }
}

@keyframes animLoadedContent {
  from {
    opacity: 0;
    transform: translate3d(0, 200px, 0);
  }
}

@keyframes animate-1 {
  0% {
    opacity: 1;
    transform: translate3d(0, 0, 0);
  }
  5.2% {
    opacity: 1;
    transform: translate3d(0, 0, 0);
  }
  9.1% {
    opacity: 0;
    transform: translate3d(0, 20%, 0);
  }
  96.1% {
    opacity: 0;
    transform: translate3d(0, -20%, 0);
  }
}

@keyframes animate-2 {
  5.2% {
    opacity: 0;
    transform: translate3d(0, -20%, 0);
  }
  9.1% {
    opacity: 1;
    transform: translate3d(0, 0, 0);
  }
  14.3% {
    opacity: 1;
    transform: translate3d(0, 0, 0);
  }
  18.2% {
    opacity: 0;
    transform: translate3d(0, 20%, 0);
  }
}

@keyframes animate-3 {
  14.3% {
    opacity: 0;
    transform: translate3d(0, -20%, 0);
  }
  18.2% {
    opacity: 1;
    transform: translate3d(0, 0, 0);
  }
  23.4% {
    opacity: 1;
    transform: translate3d(0, 0, 0);
  }
  27.3% {
    opacity: 0;
    transform: translate3d(0, 20%, 0);
  }
}

@keyframes animate-4 {
  23.4% {
    opacity: 0;
    transform: translate3d(0, -20%, 0);
  }
  27.3% {
    opacity: 1;
    transform: translate3d(0, 0, 0);
  }
  32.5% {
    opacity: 1;
    transform: translate3d(0, 0, 0);
  }
  36.4% {
    opacity: 0;
    transform: translate3d(0, 20%, 0);
  }
}

@keyframes animate-5 {
  32.5% {
    opacity: 0;
    transform: translate3d(0, -20%, 0);
  }
  36.4% {
    opacity: 1;
    transform: translate3d(0, 0, 0);
  }
  41.6% {
    opacity: 1;
    transform: translate3d(0, 0, 0);
  }
  45.5% {
    opacity: 0;
    transform: translate3d(0, 20%, 0);
  }
}

@keyframes animate-6 {
  41.6% {
    opacity: 0;
    transform: translate3d(0, -20%, 0);
  }
  45.5% {
    opacity: 1;
    transform: translate3d(0, 0, 0);
  }
  50.7% {
    opacity: 1;
    transform: translate3d(0, 0, 0);
  }
  54.6% {
    opacity: 0;
    transform: translate3d(0, 20%, 0);
  }
}

@keyframes animate-7 {
  50.7% {
    opacity: 0;
    transform: translate3d(0, -20%, 0);
  }
  54.6% {
    opacity: 1;
    transform: translate3d(0, 0, 0);
  }
  59.7% {
    opacity: 1;
    transform: translate3d(0, 0, 0);
  }
  63.6% {
    opacity: 0;
    transform: translate3d(0, 20%, 0);
  }
}

@keyframes animate-8 {
  59.7% {
    opacity: 0;
    transform: translate3d(0, -20%, 0);
  }
  63.6% {
    opacity: 1;
    transform: translate3d(0, 0, 0);
  }
  68.8% {
    opacity: 1;
    transform: translate3d(0, 0, 0);
  }
  72.7% {
    opacity: 0;
    transform: translate3d(0, 20%, 0);
  }
}

@keyframes animate-9 {
  68.8% {
    opacity: 0;
    transform: translate3d(0, -20%, 0);
  }
  72.7% {
    opacity: 1;
    transform: translate3d(0, 0, 0);
  }
  77.9% {
    opacity: 1;
    transform: translate3d(0, 0, 0);
  }
  81.8% {
    opacity: 0;
    transform: translate3d(0, 20%, 0);
  }
}

@keyframes animate-10 {
  77.9% {
    opacity: 0;
    transform: translate3d(0, -20%, 0);
  }
  81.8% {
    opacity: 1;
    transform: translate3d(0, 0, 0);
  }
  87% {
    opacity: 1;
    transform: translate3d(0, 0, 0);
  }
  90.9% {
    opacity: 0;
    transform: translate3d(0, 20%, 0);
  }
}

@keyframes animate-11 {
  87% {
    opacity: 0;
    transform: translate3d(0, -20%, 0);
  }
  90.9% {
    opacity: 1;
    transform: translate3d(0, 0, 0);
  }
  96.1% {
    opacity: 1;
    transform: translate3d(0, 0, 0);
  }
  0% {
    opacity: 0;
    transform: translate3d(0, 20%, 0);
  }
}

.App-content {
  overflow-x: hidden;
  margin: 0 auto;
}

.tippy-tooltip {
  font-size: 0.8rem !important;
  border-radius: 0px !important;
  background-color: #5320ee !important;
}

.tippy-popper[x-placement^="top"] [x-arrow] {
  border-top-color: #5320ee !important;
}

.tippy-popper[x-placement^="bottom"] [x-arrow] {
  border-bottom-color: #5320ee !important;
}

.tippy-popper[x-placement^="left"] [x-arrow] {
  border-left-color: #5320ee !important;
}

.App .logo-mobile {
  display: none;
}

.App .logo-mobile.auth {
  background: black;
  z-index: 10;
}

.App .logo-mobile svg {
  cursor: pointer;
  width: 150px;
  margin: 0;
}

.App .logo-mobile .logo-main {
  fill: #5320ee;
}

.App .logo-mobile .letter {
  opacity: 0;
}

.App .logo-mobile .letter-1 {
  opacity: 1;
  fill: #5320ee;
}

@media (max-width: 1800px) {
  .App.loaded .App-logo-wrapper {
    display: none;
  }

  .App .logo-mobile {
    display: block;
  }
}

@media (max-width: 576px) {
  .App .logo-mobile svg {
    margin-left: -20px;
    margin-top: -5px;
  }
  .App-content .content-wrapper {
    padding-left: 0;
  }
}
