.Landing {
  max-width: 100vw;
  overflow-x: hidden;
}

.Landing .header {
  background-image: linear-gradient(246deg, #5320ee, #5d28e2 68%, #622bdd);
  clip-path: polygon(0 0, 100% 0, 100% 80%, 0% 100%);
  padding-bottom: 25%;
  position: relative;
}

.Landing .header h2 {
  font-weight: 400;
  color: white;
  font-size: 28px;
}

.Landing .header .logos {
  position: relative;
  height: 50px;
}

.Landing .header .logos .logo-icon {
  position: absolute;
  top: 0px;
  left: 0px;
  width: 150px;
  height: auto;
}

.Landing .header .logos .logo-icon .logo-main {
  fill: white;
}

.Landing .header .logos .logo-icon .letter {
  opacity: 0;
}

.Landing .header .logos .logo-icon .letter-1 {
  opacity: 1;
  fill: white;
}

.Landing .header .logos .profile-icon {
  position: absolute;
  top: 20px;
  right: 20px;
  width: 20px;
  height: auto;
  cursor: pointer;
  z-index: 10;
}

.Landing .header .Button {
  text-transform: uppercase;
  font-size: 14px;
  padding: 14px 30px;
  display: inline-block;
  width: 235px;
}

.Landing .Button:hover,
.Landing .profile-icon:hover {
    transform: scale(1.1);
}

.Landing .header input {
  background: transparent;
  border: 2px solid white;
  padding: 10px 20px;
  margin-right: 15px;
  color: white;
}

.Landing input:focus {
  outline: none;
}

@media (max-width: 1200px) {
  .Landing .header .Button {
    margin-top: 10px;
    margin-left: auto;
    margin-right: auto;
  }
}

.Landing .header input::placeholder {
  color: white;
  font-size: 14px;
  vertical-align: middle;
  opacity: 0.8;
  font-weight: 400;
}

.Landing .header .logos .profile-icon path,
.Landing .header .logos .profile-icon circle {
  fill: white;
}

.Landing .description {
  padding-top: 20%;
  text-align: center;
  padding-bottom: 10%;
  position: relative;
}

.Landing .one-1 {
  position: absolute;
  top: -15%;
  left: 5%;
  height: 250px;
  width: auto;
  z-index: 2;
}

@media (max-width: 1560px) {
  .Landing .one-1 {
    display: none;
  }
}
.Landing .one-2 {
  position: absolute;
  bottom: -20%;
  left: 0;
  height: 400px;
  width: auto;
  z-index: 2;
}

.Landing .description .uniqueVisual {
<<<<<<< HEAD
=======
  width: 80%;
>>>>>>> some css adjustments
  height: auto;
  margin-bottom: 10%;
  width: 80%;
  margin-top: -42vw;
  margin-left: auto;
  margin-right: auto;
}

.Landing .description h1 {
  font-weight: 400;
  color: black;
  text-transform: uppercase;
}

.Landing .description p {
  margin-top: 30px;
  font-weight: 400;
  color: #b0b7bf;
  line-height: 30px;
  font-size: 20px;
}

.Landing .description .Button {
  margin-top: 40px;
  text-transform: uppercase;
  padding: 20px 40px;
  font-size: 13px;
  font-weight: 400;
  display: inline-block;
}

.Landing .header .catch {
  padding-top: 20vh;
}

.Landing .featureList {
  position: relative;
  background-image: linear-gradient(246deg, #5320ee, #5d28e2 68%, #622bdd);
  padding-top: 12%;
  padding-bottom: 12%;
  clip-path: polygon(0 20%, 100% 0, 100% 80%, 0% 100%);
  color: white;
}

@media (max-width: 1060px) {
  .Landing .featureList {
    padding-top: 20%;
    padding-bottom: 20%;
  }
}

@media (max-width: 575px) {
  .Landing .featureList {
    padding-top: 30%;
    padding-bottom: 30%;
    clip-path: polygon(0 10%, 100% 0, 100% 90%, 0% 100%);
  }
}

.Landing .one-3 {
  position: absolute;
  bottom: 5%;
  right: 6vw;
  height: 200px;
  width: auto;
  z-index: 2;
}

@media (max-width: 1600px) {
  .Landing .one-3,
  .Landing .one-2 {
    display: none;
  }
}

.Landing .featureList li {
  font-size: 20px;
  margin-bottom: 10px;
}

.Landing .howItWorks {
  position: relative;
  padding-top: 5%;
  padding-bottom: 0%;
}

.Landing .howItWorks .row {
  margin-bottom: 20%;
}

.Landing .howItWorks h1 {
  font-weight: 400;
  color: #632bdd;
  text-transform: uppercase;
  text-align: center;
  margin-bottom: 100px;
  font-size: 35px;
}

.Landing .howItWorks .image-wrapper {
  position: relative;
  height: 170px;
  margin-bottom: 50%;
}

.Landing .howItWorks .howItWorks-icon1 {
  position: absolute;
  top: -100%;
  left: 50px;
  width: 120%;
  height: auto;
}

.Landing .howItWorks .howItWorks-icon2 {
  position: absolute;
  top: -100%;
  right: 80px;
  width: 120%;
  height: auto;
}

.Landing .howItWorks .howItWorks-icon3 {
  position: absolute;
  top: -100%;
  left: 50px;
  width: 120%;
  height: auto;
}

@media (max-width: 775px) {
  .Landing .howItWorks .image-wrapper {
    margin-bottom: inherit;
    height: inherit;
  }
  .Landing .howItWorks .howItWorks-icon1,
  .Landing .howItWorks .howItWorks-icon2,
  .Landing .howItWorks .howItWorks-icon3 {
    position: relative;
    width: 100%;
    top: inherit;
    left: inherit;
  }
}

.Landing .howItWorks .stepNumber {
  font-size: 18px;
  color: #632bdd;
  margin-bottom: 10px;
}

.Landing .howItWorks h3 {
  font-size: 28px;
  font-weight: 400;
}

.Landing .howItWorks .stepdescription {
  color: #b0b7bf;
  font-size: 20px;
}

.Landing .howItWorks .Button {
  padding: 0;
  color: #632bdd;
  font-size: 16px;

  text-decoration: none;
  padding-bottom: .1em;
  border-bottom: 2px solid #632bdd;
}

.Landing .howItWorks .Button:hover {
    border-bottom: 2px solid transparent;
}

.Landing .prototypo {
  position: relative;
  padding-top: 10%;
  padding-bottom: 10%;
  background-image: linear-gradient(246deg, #5320ee, #5d28e2 68%, #622bdd);
  clip-path: polygon(0 20%, 100% 0, 100% 100%, 0% 100%);
  color: white;
}

.Landing .one-5 {
  position: absolute;
  top: 5%;
  left: 10vw;
  height: 450px;
  width: auto;
  z-index: 2;
}

@media (max-width: 775px) {
  .Landing .one-5 {
    display: none;
  }
  .Landing .howItWorks .image-wrapper {
    margin-bottom: inherit;
    height: inherit;
  }
  .Landing .howItWorks .howItWorks-icon1,
  .Landing .howItWorks .howItWorks-icon2,
  .Landing .howItWorks .howItWorks-icon3 {
    position: relative;
    width: 100%;
    top: inherit;
    left: inherit;
  }
  .Landing .prototypo {
    padding-top: 20%;
    clip-path: polygon(0 10%, 100% 0, 100% 100%, 0% 100%);
  }
}

.Landing .prototypo h1 {
  font-weight: 400;
  text-transform: uppercase;
  margin-bottom: 40px;
}

.Landing .prototypo p {
  line-height: 30px;
  font-size: 20px;
}

.Landing .footer {
  position: relative;
  color: white;
  background: black;
  padding-top: 2%;
  padding-bottom: 2%;
}

.Landing .footer .credits {
  font-size: 12px;
  opacity: 0.9;
}

.Landing .footer .LanguageSelect {
  float: right;
}

.Landing .float-left {
  float: left;
}

.Landing .float-right {
  float: right;
}

@media (max-width: 993px) {
  .Landing .float-right {
    float: left;
  }
}
