.Choice {
  position: relative;
  display: block;
  cursor: pointer;
  user-select: none;
  border: 2px solid black;
  padding: 10px 20px;
  font-size: 69px;
  margin-top: 20px;
}

.Choice:focus {
  outline: none;
}

.Choice.selected {
  border-color: red;
}

.Choice .mostSelected {
  position: absolute;
  top: 10px;
  right: -15px;
  font-size: 14px;
  font-family: 'Sans-Serif';
  transform: rotate(45deg);
  background: #ddd;
  border: 2px solid #333;
}