.Choice {
  position: relative;
  width: 100%;
  padding: 10px 20px;
  font-size: 6vh;
  background: #fff;
  margin-bottom: 10px;
  cursor: pointer;
  border: 1px solid #C7C3D1;
  user-select: none;
}

.Choice:focus {
  outline: none;
}

.Choice.selected {
  border-color: #FF6359;
}

.Choice .choiceName {
  font-family: unique, sans-serif;
  margin-top: -15px;
  margin-bottom: 0;
  font-size: 14px;
  color: #C7C3D1;
}

.Choice .mostSelected {
  position: absolute;
  top: 0px;
  right: -3%;
  font-size: 14px;
  font-family: duA5LDxD8w, 'Sans-Serif';
  transform: rotate(45deg);
  background: #fff;
  border-radius: 5px;
  padding: 4px 8px;
  border: 2px solid #000;
}