.Choice {
  position: relative;
  width: 100%;
  padding: 30px 15px 20px 20px;
  font-size: 6vh;
  line-height: 1;
  background: #fff;
  margin-bottom: 5px;
  cursor: pointer;
  border: 3px solid transparent;
  user-select: none;
  transition: color .3s ease, background .3s ease, border-color .3s ease;
  margin-bottom: 20px;
  white-space: nowrap;
  text-overflow: "...";
  overflow: hidden;
  align-self: baseline;
}

.Choice.glyphMode {
  font-size: 15vh;
  line-height: 1;
  text-align: center;
  padding: 0;
  padding-bottom: 20px;
  margin-bottom: 0;
  margin-right: 0;
}

.Choice.glyphMode .choiceName{
  margin-top: 35px;
}

.Choice.whiteOnBlack {
  color: white;
  background-color: black;
}

.Choice:focus {
  outline: none;
}

.Choice.selected {
  border-color: #5320ee;
}
.Choice:hover {
  border-color: #5320ee;
}

.Choice .choiceName {
  font-family: unique, sans-serif;
  line-height: 1;
  margin-top: 10px;
  margin-bottom: 0;
  font-size: 14px;
  color: #b8b5c0;
}

.Choice .mostSelected {
  position: absolute;
  top: 0px;
  right: -3%;
  font-size: 14px;
  font-family: duA5LDxD8w, 'Sans-Serif';
  transform: rotate(45deg);
  background: #fff;
  border-radius: 5px;
  padding: 4px 8px;
  border: 2px solid #111;
}

.Choice .icon-edit{
  height: 30px;
  width: 35px;
  position: absolute;
  top: 0px;
  right: 0;
  cursor: pointer;
  background: #5320ee;
}

.Choice .icon-edit svg{
  height: 20px;
  width: auto;
  position: absolute;
  top: 5px;
  left: 10px;
}


.Choice span[contenteditable="true"] {
  border: 1px dotted #5320ee;
  padding: 5px 10px;
}
