.Template {
  position: relative;
  width: 100%;
  padding: 10px 15px 10px 20px;
  font-size: 5.5vh;
  line-height: 1;
  background: #fff;
  margin-bottom: 5px;
  cursor: pointer;
  border: 2px solid transparent;
  user-select: none;
  transition: color .3s ease, background .3s ease, border-color .3s ease;
  margin-bottom: 20px;
  white-space: nowrap;
  text-overflow: "...";
  overflow: visible;
  align-self: baseline;
  text-transform: capitalize;
}

@media (min-width: 768px) {
  .Template {
    font-size:6vh;
    padding: 30px 15px 20px 20px;
    overflow: hidden;
  }
}

.Template.selected {
  border-color: #5320ee;
}
.Template:hover {
    border-color: #ccc;
}


.Template .templateName {
  font-family: unique, sans-serif;
  line-height: 1;
  margin-top: 10px;
  margin-bottom: 0;
  font-size: 14px;
  color: #b8b5c0;
  text-transform: capitalize;
}

.Template .templateName span {
  margin-top: 5px;
  color: #5320ee;
  display: inline-block;
}

.Template .mostSelected {
  position: absolute;
  top: 0px;
  right: -35px;
  font-size: 14px;
  font-family: duA5LDxD8w, 'Sans-Serif';
  transform: rotate(45deg);
  background: #fff;
  border-radius: 5px;
  padding: 4px 8px;
  border: 2px solid #111;
}
