.SpecimenView {
  position: relative;
  display: block;
}

.SpecimenView .container {
  position: relative;
}


.SpecimenView h3 {
  display: inline-block;
  font-size: 1rem;
  color: #5320ee;
  font-family: unique, sans-serif;
  font-weight: 400;
  margin-left: 0;
}

.SpecimenView h2 {
  display: inline-block;
  font-size: 2rem;
  color: black;
  font-family: unique, sans-serif;
  font-weight: 400;
  margin-left: 0;
}

.SpecimenView .icon-back, .SpecimenView .icon-next {
  width: 30px;
  height: auto;
  cursor: pointer;
  position: absolute;
  top: 50%;
  transform: translateY(-50%) translateZ(0px);
  transition: transform .3s ease, background .3s ease, border-color .3s ease;  
  border: 2px solid #5320ee;
  background: transparent;
  padding: 0px;
  z-index: 10;
  border-radius: 50%;
}

.SpecimenView .icon-back path, .SpecimenView .icon-next path {
  fill: #5320ee;
}

.SpecimenView .icon-back {
  left: -75px;
}

.SpecimenView .hooray {
  font-family: unique, sans-serif;
  font-weight: 400;
  color: #b8b5c0;
  width: 300px;
  margin-bottom: 100px;
  margin-top: 100px;
}

.SpecimenView .hooray h2{
  font-weight: 400;
}

.SpecimenView .export .hollow {
  margin-right: 20px;
}

.SpecimenView .export p {
  color: #c7b5d8;
}

.SpecimenView .word {
  font-size: 75px;
}

.SpecimenView .characters {
  font-size: 45px;
}

.SpecimenView .greyscale {
  font-size: 20px;
}

.SpecimenView .greyscale-left {
  background-color: white;
  color: black;
  padding: 10px 20px;
}


.SpecimenView .greyscale-right {
  background-color: black;
  color: white;
  padding: 10px 20px;
}

.SpecimenView .greyscale-left.greyscale-first {
  color: #000000;
}

.SpecimenView .greyscale-left.greyscale-second {
  color: #666666;
}

.SpecimenView .greyscale-left.greyscale-third {
  color: #CCCCCC;
}

.SpecimenView .greyscale-right.greyscale-first {
  color: #FFFFFF;
}

.SpecimenView .greyscale-right.greyscale-second {
  color: #999999;
}

.SpecimenView .greyscale-right.greyscale-third {
  color: #333333;
}

.SpecimenView form input {
  margin-bottom: 60px;
  height: 70px;
  font-size: 18px;
  background-color: rgba(80,18,134,0.08);
  border: none;
  border-radius: 8px;
  padding-left: 30px;
  user-select: none;
}

.SpecimenView form button {
  height: 70px;
  font-size: 18px;
  background-color: #000;
  color: #fff;
  border: none;
  border-top-right-radius: 8px;
  border-bottom-right-radius: 8px;
  padding-left: 30px;
  padding-right: 30px;
  font-weight: 700;
  cursor: pointer;
}

.SpecimenView form input:focus {
  outline: none;
}