.SpecimenView {
  position: relative;
  display: block;
  padding: 50px;
}

.SpecimenView h1 {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-family: 'peasy';
  font-size: 15rem;
  line-height: 15rem;
  margin: 0;
  font-weight: normal;
}

.SpecimenView h3 {
  display: inline-block;
  margin-top: 50px;
  padding-bottom: 4px;
  font-size: 1rem;
  color: #CAB8DA;
  border-bottom: 2px solid #CAB8DA;
  margin-bottom: 30px;
}

.SpecimenView .StepList h3 {
  margin-top: 0;
  margin-bottom: 10px;
}

.SpecimenView .StepList {
  padding-top: 0;
  padding-right: 10px;
  padding-left: 10px;
}


.SpecimenView .back {
  position: absolute;
  top: 55px;
  left: 45px;
}

.SpecimenView .export .hollow {
  margin-right: 20px;
}

.SpecimenView .export p {
  color: #c7b5d8
}

.SpecimenView .specimen {
  font-size: 22px;
}

.SpecimenView .specimen .logo {
  margin-top: 100px;
  margin-bottom: 100px;
  text-align: center;
}


.SpecimenView .specimen.website .templates {
  display: block;
  min-height: 800px; 
}

.SpecimenView .specimen.website .templates .template {
  position: relative;
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
  margin-bottom: 80px;
}

.SpecimenView .specimen.website .templates .template .text {
  overflow: hidden;
}


.SpecimenView .specimen.website .templates .desktop-wrapper {
  width: 100%;
  height: 800px;
  overflow: hidden;
}

.SpecimenView .specimen.website .templates .desktop-wrapper .text{
  position: absolute;
  display: block;
  top: 30%;
  left: 50%;
  transform: translate(-50%, -30%);
  width: 80%;
  height: 60%;
}

.SpecimenView .specimen.website .templates .tablet-wrapper {
  width: 100%;
  height: 600px;
  overflow: hidden;
}

.SpecimenView .specimen.website .templates .tablet-wrapper .text{
  position: absolute;
  display: block;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 65%;
  height: 80%;
  font-size: 0.8em;
}

.SpecimenView .specimen.website .templates .mobile-wrapper {
  width: 100%;
  height: 500px;
  margin-top: 100px;
  overflow: hidden;
}

.SpecimenView .specimen.website .templates .mobile-wrapper .text{
  position: absolute;
  display: block;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 35%;
  height: 65%;
  font-size: 0.7em;
}


.SpecimenView .specimen .text1 {
  font-size: 12pt;
  padding: 0;
  margin: 1em 0 0 0;
  text-align: justify;
}

.SpecimenView .specimen .text2 {
  font-size: 11pt;
  padding: 0;
  margin: 1rem 0 0 0;
  text-align: justify;
}

.SpecimenView .specimen .text3 {
  font-size: 10pt;
  padding: 0;
  margin: 1rem 0 0 0;
  text-align: justify;
}

.SpecimenView .specimen .uppercase {
  font-size: 2.5em;
  letter-spacing: 0;
  text-align: justify;
  height: 1.5em;
  overflow: hidden;
}

.SpecimenView .specimen .uppercase:after {
  content: "";
  display: inline-block;
  width: 100%;
}

.SpecimenView .specimen .lowercase {
  font-size: 1.5em;
  letter-spacing: 0;
  text-align: justify;
  height: 1.5em;
  overflow: hidden;
}

.SpecimenView .specimen .lowercase:after {
  content: "";
  display: inline-block;
  width: 100%;
}

.SpecimenView .StepList {
  font-family: duA5LDxD8w, sans-serif;
  font-size: 14px;
}


.SpecimenView .specimen h2, .SpecimenView .specimen h3 {
  font-weight: normal;
}

.SpecimenView form input {
  margin-bottom: 60px;
  height: 70px;
  width: 500px;
  font-size: 18px;
  background-color: rgba(80,18,134,0.08);
  border: none;
  border-top-left-radius: 8px;
  border-bottom-left-radius: 8px;
  padding-left: 30px;
  user-select: none;
}

.SpecimenView form button {
  height: 70px;
  font-size: 18px;
  background-color: #501286;
  color: #fff;
  border: none;
  border-top-right-radius: 8px;
  border-bottom-right-radius: 8px;
  padding-left: 30px;
  padding-right: 30px;
  font-weight: 700;
  cursor: pointer;
}

.SpecimenView form input:focus {
  outline: none;
}