.SpecimenView {
  position: relative;
  display: block;
  padding-bottom: 100px;
}

.SpecimenView .container {
  position: relative;
}

.SpecimenView h3 {
  display: inline-block;
  font-size: 1rem;
  color: #5320ee;
  font-family: unique, sans-serif;
  font-weight: 400;
  margin-left: 0;
}

.SpecimenView h2 {
  display: inline-block;
  font-size: 2rem;
  color: black;
  font-family: unique, sans-serif;
  font-weight: 400;
  margin-left: 0;
}


.SpecimenView .buttons {
  margin-top: 100px;
}

.SpecimenView .buttons::after {
  display: block;
  clear: both;
  content: "";
}

.SpecimenView .buttons .button-download {
  float: right;
}
.SpecimenView .buttons .button-save {
  float: right;
}

.SpecimenView .icon-back,
.SpecimenView .icon-next {
  width: 30px;
  height: auto;
  cursor: pointer;
  position: absolute;
  top: 50%;
  transform: translateY(-50%) translateZ(0px);
  transition: transform 0.3s ease, background 0.3s ease, border-color 0.3s ease;
  border: 2px solid #5320ee;
  background: transparent;
  padding: 0px;
  z-index: 10;
  border-radius: 50%;
}

.SpecimenView .icon-back path,
.SpecimenView .icon-next path {
  fill: #5320ee;
}

.SpecimenView .icon-back {
  left: -75px;
}

.SpecimenView .hooray {
  font-family: unique, sans-serif;
  font-weight: 400;
  color: #b8b5c0;
  margin-bottom: 100px;
  margin-top: 100px;  
}

.SpecimenView .hooray h2 {
  font-weight: 400;
  font-size: 32px;
  color: black;
}

.SpecimenView .hooray .subtitle {
  font-weight: 400;
  font-size: 28px;
  color: #b8b5c0;
  width: 75%;
}

.SpecimenView .hooray .subtitle-two {
  font-weight: 400;
  font-size: 28px;
  color: #d0cdd6;
}



.SpecimenView .export .hollow {
  margin-right: 20px;
}

.SpecimenView .export p {
  color: #c7b5d8;
}

.SpecimenView .word {
  font-size: 48px;  
  margin-top: 40px;
  margin-bottom: 65px;
}

.SpecimenView .characters {
  font-size: 24px;
  padding: 40px;
}

.SpecimenView .uppercase {
  letter-spacing: 0;
  text-align: justify;
}

.SpecimenView .uppercase:after {
  content: "";
  display: inline-block;
  width: 100%;
}

.SpecimenView .lowercase {
  letter-spacing: 0;
  text-align: justify;
}

.SpecimenView .lowercase:after {
  content: "";
  display: inline-block;
  width: 100%;
}

.SpecimenView .text-wrapper {
  position: relative;
  height: 350px;
  overflow: hidden;
  border: 20px solid white;
}

.SpecimenView .text {
  position: absolute;
  top: -20px;
  left: -20px;
  background-color: white;
  color: black;
  overflow: hidden;
  text-align: justify;
  width: 120%;
}

.SpecimenView .text.text-small {
  font-size: 10px;
}

.SpecimenView .text.text-medium {
  font-size: 14px;
}

.SpecimenView .text.text-big {
  font-size: 18px;
  text-align: left;
}

.SpecimenView form input {
  margin-bottom: 60px;
  height: 70px;
  font-size: 18px;
  background-color: rgba(80, 18, 134, 0.08);
  border: none;
  border-radius: 8px;
  padding-left: 30px;
  user-select: none;
}

.SpecimenView form button {
  height: 70px;
  font-size: 18px;
  background-color: #000;
  color: #fff;
  border: none;
  border-top-right-radius: 8px;
  border-bottom-right-radius: 8px;
  padding-left: 30px;
  padding-right: 30px;
  font-weight: 700;
  cursor: pointer;
}

.SpecimenView form input:focus {
  outline: none;
}
