.FontControls {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.FontControls .icon-background {
  margin-right: 10px;
}

.FontControls .icon-glyph,
.FontControls .icon-background {
  width: 23px;
  padding: 0px 5px;
  height: auto;
  cursor: pointer;
  transition: fill 0.3s ease;
}

.FontControls .icon-glyph {
  width: 20px;
}

.FontControls .icon-glyph path {
  fill: black;
}

.FontControls .font-size {
  margin-right: 10px;
}

.FontControls .font-size input[type="range"] {
  display: inline-block;
  -webkit-appearance: none;
  background-color: #CCC;
  width: 100px;
  height: 2px;
  border-radius: 2px;
  outline: 0;
  transform: translateY(-5px);
}

.FontControls .font-size input[type="range"]::-webkit-slider-thumb {
  -webkit-appearance: none;
  background-color: black;
  width: 12px;
  height: 12px;
  border-radius: 50%;
  border: 2px solid black;
  cursor: pointer;
  transition: 0.3s ease-in-out;
}
​ .FontControls .font-size input[type="range"]::-webkit-slider-thumb:hover {
  background-color: black;
  border: 2px solid black;
}
.FontControls .font-size input[type="range"]::-webkit-slider-thumb:active {
  transform: scale(1.2);
}

.FontControls .icon-lowFontSize {
  margin-left: 0;
  transform: translateY(-5px);
}
.FontControls .icon-highFontSize,
.FontControls .icon-lowFontSize {
  margin: 0px 10px;
  cursor: pointer;
}

.FontControls .icon-highFontSize path,
.FontControls .icon-lowFontSize path {
  fill: black;
}
