.Sidebar {
  background: linear-gradient(8deg, black, black 68%, black);
  padding-top: 100px;
  color: white;
  min-height: 100vh;
  max-height: 100vh;
  overflow-y: auto;
  position: fixed;
  top: 0;
  right: 0;
  border-left: 1px solid white;
  margin-left: auto;
  transition: width 0.3s ease, background .3s ease;
  width: 300px;
  z-index: 10;
  font-size: 14px;
}

.Sidebar.small {
  width: 50px;
}

.Sidebar.small .steps {
  opacity: 0;
}

.Sidebar .steps {
  opacity: 1;
  transition: opacity 0.1s ease;
}

.Sidebar .icon-profile,
.Sidebar .icon-menu {
  height: 20px;
  width: auto;
  position: absolute;
  top: 20px;
  cursor: pointer;
}

.Sidebar .icon-profile {
  left: 14px;
  fill: white;
}

.Sidebar .icon-menu {
  right: 30px;
  fill: #5320ee;
}


.Sidebar.checkout {
 background-image: linear-gradient(265deg, #5320ee, #5d28e2 21%, #622bdd);
}


.Sidebar.checkout .sidebar-checkout {
  margin-top: 0;
  padding-left: 20px;
  padding-right: 20px;
}

.Sidebar.checkout .sidebar-checkout .baseprice {
  position: relative;
  display: inline-block;
  font-size: 30px;
  margin-bottom: -10px;
  font-weight: 400;
  opacity: 0.6;
}

.Sidebar.checkout .sidebar-checkout .baseprice::after {
  content: ' ';
  width: 100%;
  height: 3px;
  background-color: white;
  position: absolute;
  top: 50%;
  left: 0;
  transform: translateY(-50%);
}

.Sidebar.checkout .sidebar-checkout .sidebar-checkout-title  {
  font-size: 32px;
  font-weight: 400;
}

.Sidebar.checkout .sidebar-checkout .price {
  font-size: 52px;
  font-weight: 400;
}

.Sidebar.checkout .sidebar-checkout .choices {
  margin-top: 40px;
  margin-bottom: 40px;
}

.Sidebar.checkout .sidebar-checkout .choices .choice {
  color: #DFD4F8;
  padding-bottom: 5px;
  padding-top: 10px;
  border-bottom: 1px solid #DFD4F8;
}

.Sidebar.checkout .sidebar-checkout .choices .choice::after {
  display: block;
  clear: both;
  content: "";
}

.Sidebar.checkout .sidebar-checkout .choices .choice .left {
  float: left;
  padding-right: 0;
  width: 75%;
}

.Sidebar.checkout .sidebar-checkout .choices .choice .right {
  float: right;
}

.Sidebar.checkout .button-checkout {
  display: block;
  text-align: center;
  margin-top: 50px;
  margin-bottom: 15px;
  user-select: none;
}

.Sidebar.checkout .button-checkout.disabled {
  background: rgba(255,255,255,0.4);
  padding: 20px;
  cursor: default;
}

@media (max-width: 576px) {
  .Sidebar.small {
    background: none;
    height: 50px;
    min-height: 50px;
    border-left: transparent;
  }
  .Sidebar .icon-profile {
    fill: black;
  }
}

@media (max-width: 891px) {
  .Sidebar.checkout {
    max-width: inherit;
    width: 100%;
    position: relative;
  }
}
