.Sidebar {
  background: linear-gradient(8deg, black, black 68%, black);
  padding-top: 100px;
  color: white;
  min-height: 100vh;
  height: 100%;
  position: fixed;
  top: 0;
  right: 0;
  border-left: 1px solid white;
  margin-left: auto;
  transition: width 0.3s ease, background .3s ease;
  width: 100%;
  max-width: 16.666667%;
  z-index: 10;
}

.Sidebar.small {
  width: 50px;
}

.Sidebar.small .steps {
  opacity: 0;
}

.Sidebar .steps {
  opacity: 1;
  transition: opacity 0.1s ease;
}

.Sidebar .icon-profile,
.Sidebar .icon-menu {
  height: 20px;
  width: auto;
  position: absolute;
  top: 20px;
  cursor: pointer;
}

.Sidebar .icon-profile {
  left: 14px;
  fill: white;
}

.Sidebar .icon-menu {
  right: 30px;
  fill: #5320ee;
}


.Sidebar.checkout {
  background: linear-gradient(8deg, #5320ee, #5d28e2 68%, #622bdd);
}


.Sidebar.checkout .sidebar-checkout {
  margin-top: 70px;
  padding-left: 20px;
  padding-right: 20px;
}

.Sidebar.checkout .sidebar-checkout .price {
  font-size: 52px;
}

.Sidebar.checkout .sidebar-checkout .choices {
  margin-top: 40px;
}

.Sidebar.checkout .sidebar-checkout .choices .choice {
  color: #DFD4F8;
  padding-bottom: 5px;
  padding-top: 10px;
  border-bottom: 1px solid #DFD4F8;
}

.Sidebar.checkout .sidebar-checkout .choices .choice::after {
  display: block;
  clear: both;
  content: "";
}

.Sidebar.checkout .sidebar-checkout .choices .choice .left {
  float: left;
}

.Sidebar.checkout .sidebar-checkout .choices .choice .right {
  float: right;
}

.Sidebar.checkout .button-checkout {
  display: block;
  text-align: center;
  margin-top: 80px;
}

@media (max-width: 576px) {
  .Sidebar.small {
    background: none;
    height: 50px;
    min-height: 50px;
    border-left: transparent;
  }
  .Sidebar .icon-profile {
    fill: black;
  }
}

@media (max-width: 891px) {
  .Sidebar.checkout {
    max-width: inherit;
    position: relative;
  }
}