.StepList {
  background-color: black;
  padding-top: 100px;
  color: white;
  min-height: 100vh;
  height: 100%;
  position: relative;
  border-left: 1px solid white;
  max-width: 300px;
  margin-left: auto;
  transition: width 0.3s ease;
  width: 100%;
}

.StepList.small {
  width: 120px;
}

.StepList.small .steps {
  opacity: 0;
}

.StepList .steps {
  opacity: 1;
  transition: opacity 0.1s ease;
}

.StepList .icon-profile,
.StepList .icon-menu {
  height: 25px;
  width: auto;
  position: absolute;
  top: 20px;
  cursor: pointer;
}

.StepList .icon-profile {
  left: 20px;
  fill: white;
}

.StepList .icon-menu {
  right: 30px;
  fill: #ff6359;
}
