.ExportType {
  outline: none;
}

.ExportType.expanded {}

.ExportType .card {
  cursor: pointer;
  margin-bottom: 15px;
}

.ExportType .card  .image {
  height: 200px;
  background-color: #c7b5d8;
}

.ExportType .card  .title {
  background-color: #000;
  color: white;
  border-bottom-left-radius: 8px;
  border-bottom-right-radius: 8px;
  padding: 20px 40px;
  font-size: 18px;
  font-weight: 700;
}

.ExportType .description {
  display: none;
}

.ExportType .description .select {
  float: right;
  margin-top: 4em;
  display: inline-block;
}

.ExportType form {  
  margin-top: 50px;
  border: 3px solid #c7b5d8;
  border-radius: 8px;
  padding: 10px 20px;
}
.ExportType input {
  margin-top: 10px;
  height: 70px;
  width: 100%;
  font-size: 18px;
  background-color: rgba(80,18,134,0.08);
  border: none;
  border-radius: 8px;
  padding: 10px 20px;
  user-select: none;
}

.ExportType input[type="submit"] {
  width: 50%;
  background-color: #000;
  color: white;
  cursor: pointer;
  padding: 5px 10px;
  margin-bottom: 10px;
  display: block;
  margin-left: 50%;
}

.ExportType label {
  display: block;
}

.ExportBack {
  display: inline-block;
}

.ExportType.expanded .description {
  display: block;
}