.Banner {
  background-color: #5320ee;
  color: white;
  width: 100%;
  padding: 5px 10px;
  text-align: center;
  cursor: pointer;
  user-select: none;
}

.Banner a {
  color: white;
  padding-bottom: 2px;
  border-bottom: 1px solid white;
}

.Banner a:hover {
  border-color: transparent;
  text-decoration: none;
}
